html{
    width: 100%;
}

@font-face {
    font-family: "american";
    src: url("./kurt/American_Grunge.ttf");
}

*{
    font-family: "american";
}
h1{
    text-align: center;
    margin-top: 5%;
    font-size: 3em;
}
#nav>nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 8px 20px #abaaa9;
    margin: -1%;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#nav>nav>ul{
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#nav>nav>ul>li{
    padding-left: 13%;
    padding-right: 0%;
}