
h3{
    text-align: center;
    margin-top: 10%;
}

#background{
    height: 100%;
    background: linear-gradient(to right bottom, rgba(244 178 48) 20%,  #d4fef2 5% );
    p{
        margin: 3% 7%;
        text-align: justify;
        line-height: 5vh;
        font-size: large;
        }
}