<div id="background">
    <div class="social">
        <a href="https://www.facebook.com/SCFMY" target="_blank"><img src="../../../assets/fb.png" alt="facebook"
                title="facebook"></a>
        <a href="mailto:scoolfamily@outlook.com"><img src="../../../assets/mail.svg" alt="mail"
                title="mail"></a>
        <a href="https://www.instagram.com/scoolfamily_asbl/" target="_blank"><img src="../../../assets/insta.png"
                alt="instagram" title="instagram"></a>
        </div>

    <h3> Salut la compagnie !</h3>
    <p>
        Dans cette rubrique vous apprendrez que nous ne sommes pas seulement un groupe d’animateurs.
        Au-delà de ça, nous sommes tous et toutes enseignants. En primaire, en maternelle et même en secondaire.
        Certaines
        ont même une qualification en psychomotricité.
        Et ce n’est pas tout, notre groupe est également uni par les liens de la famille.
        Epouse, mari, frère, sœur, beau-frère, belle-sœur. Nous sommes donc soudés plus que jamais et avançons de
        concert
        dans ce beau projet d’a.s.b.l qui est le nôtre.</p>
        <p>
        Nous avons à cœur d’encadrer de manière sérieuse et professionnelle avec, bien entendu, un côté plus ludique
        qu’à
        l’école … Nous sommes là pour divertir les enfants que nous avons sous notre responsabilité avant tout !
        Ayant, pour la majorité d’entre nous des enfants, nous ne savons que trop bien qu’il est important de pouvoir
        avoir
        confiance ! C’est la base de tout.
        En espérant de tout cœur que vous croiserez un jour notre route et que cette rencontre vous laissera un bon
        souvenir, nous vous saluons bien chaleureusement.</p>
</div>