<section class="section top-section">
    <div class="social">
        <a href="https://www.facebook.com/SCFMY" target="_blank"><img src="../../../assets/fb.png" alt="facebook" title="facebook"></a>
        <a href="mailto:scoolfamily@outlook.com" target="_blank"><img src="../../../assets/mail.svg" alt="mail" title="mail"></a>
        <a href="https://www.instagram.com/scoolfamily_asbl/" target="_blank"><img src="../../../assets/insta.png" alt="instagram" title="instagram"></a>
    </div>
    <div class="content-container content-theme-dark">
        <div class="content-inner">
            <div class="content-center">
                <h1>s'Cool Family</h1>          
                <h2> a.s.b.l </h2>
                <img src="../../../assets/arrow.png">
            </div>

        </div>
    </div>
</section>

<section class="section bottom-section">
    <div class="content-container content-theme-light">
        <div class="content-inner">
            <div class="content-center">
                <h1 id="internships">Les stages</h1>
            </div>
        </div>
    </div>
</section>

<section class="section top-section">
    <div class="content-container content-theme-light">
        <div class="content-inner">
            <div id="divTeamTop">
                <img class="team" src="../../../assets/marie.png">
                <img id="jeje" class="team" src="../../../assets/jeje.png">
            </div>
            <div class="content-center">
               <a routerLink="/team"> <h1>A propos de nous...</h1> </a>
            </div>

            <div id="divTeamBottom">
                <img class="team" src="../../../assets/pierre.png">
                <img class="team" src="../../../assets/sarah1.png">
                <img class="team" src="../../../assets/julie.png">
            </div>
        </div>
    </div>



</section>