/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    margin: 0px;
    margin-top : 0px;
}


@font-face {
    font-family: 'Grunge';
    src: url('./assets/kurt/American_Grunge.ttf') format('opentype');
}

*:not(h1) {
    font-family: 'Verdana';
}

;

h1 {
    font-family: 'Grunge';
}

//Social logo + animation
.social {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
    a{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    a,img  {
        width: 50px;
        z-index: 1;
        margin-top: 3%;
    }
    img:hover{
        animation-name: move;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }
};


@keyframes move {

    0%,
    90% {
        transform: translate3d(3px, 3px, 0);
    }

    20%,
    80% {
        transform: translate3d(10px, 10px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-5px, -10px, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 15px, 0);
    }
};

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
