/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    margin: 0px;
    margin-top : 0px;
}


@font-face {
    font-family: 'Grunge';
    src: url('./assets/kurt/American_Grunge.ttf') format('opentype');
}

*:not(h1) {
    font-family: 'Verdana';
}

;

h1 {
    font-family: 'Grunge';
}